@using ProyectoCsharp.Constants;
@model IEnumerable<LeaveTypeVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            @if (User.IsInRole(Roles.Administrator))
            {
                <th>
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                @if (User.IsInRole(Roles.Administrator))
                {
                    <td>
                        <button data-id="@item.Id" class="btn btn-primary allocateBtn" type="button">Allocate leave</button>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

<form id="deleteForm" asp-action="Delete">
    <input type="hidden" id="leaveTypeId" name="Id" />
</form>

<form id="AllocateForm" asp-action="AllocateLeave">
    <input type="hidden" id="leaveTypeAllocationId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function () {

            

            $('.deleteBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to delete this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeId').val(id);
                        $('#deleteForm').submit();
                    }
                });
            });

            $('.allocateBtn').click(function (e) {
                swal({
                    title: "Are you sure?",
                    text: "Are you sure you want to allocation this leave to all employees?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#leaveTypeAllocationId').val(id);
                        $('#AllocateForm').submit();
                    }
                });
            });
        });
    </script>
}
