@model AdminLeaveRequestViewVM

@{
    ViewData["Title"] = "Index";
}

<h1>Admin leave requests view</h1>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title text-info">@Model.TotalRequest</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.TotalRequest)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title text-success">@Model.AprovedRequests</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.AprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title text-warning">@Model.PendingRequest</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.PendingRequest)</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body text-center">
                <h2 class="card-title text-danger">@Model.RejectedRequest</h2>
                <p class="card-text">@Html.DisplayNameFor(m => m.RejectedRequest)</p>
            </div>
        </div>
    </div>
</div>

<hr />
<h1>Leave request log</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Employee name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].DateRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveRequests[0].Approved)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.FirstName) @Html.DisplayFor(modelItem => item.Employee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequest)
                </td>
                <td>
                    @if (item.Cancelled)
                    {
                            <span class="badge bg-info">Cancelled</span>
                    }
                    else if (item.Approved == null)
                    {
                            <span class="badge bg-warning">Pending</span>
                    }
                    else if (item.Approved.Value)
                    {
                                <span class="badge bg-success">Approved</span>
                    }
                    else if (item.Approved.Value == false)
                    {
                                <span class="badge bg-danger">Rejected</span>
                    }
                </td>
                <td>
                    @if(item.Cancelled == false)
                    {
                        <a asp-action="Details" class="btn btn-info btn-group-sm" asp-route-id="@item.Id">Review</a>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>
